<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hostel Allocation</title>
     {% load staticfiles %}
    <link rel="stylesheet" href=" {% static '/students/css/bootstrap.min.css' %} " type="text/css"/>
    <link rel="stylesheet" href=" {% static '/students/css/style.css' %} " type="text/css"/>
    <script src=" {% static '/students/js/bootstrap.min.js' %} " type="text/javascript"/></script>
</head>
<body>
    {% comment %} Start of Nav Bar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>LOGO</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Departments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Computer Science</a>
                    <a class="dropdown-item" href="#">Forestry Technology</a>
                     <a class="dropdown-item" href="#">SLT</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Crop Production</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Student Portal
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/students/login">SignIn</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/students/signup">SignUp</a>
                    </div>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="/students/login">Student login</a>
                </li> {% endcomment %}
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Staff
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin">Staff Login</a>
                    <a class="dropdown-item" href="#">Training</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Emails</a>
                    </div>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% comment %} End of Nav Bar {% endcomment %}
    {% block content %}
    
    {% endblock content %}
<footer>
		
        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; Example.com 2019 </p>
        	</div>
        </div>
</footer>

    
    {% comment %} Footer Scripts {% endcomment %}
    <script src="{% static '/students/js/jquery-1.11.3.min.js' %} "></script>
    <script src="{% static '/students/js/bootstrap.min.js' %} "></script>
    <script src="{% static '/students/js/holder.min.js' %} "></script>
    {% comment %} End of Footer Scripts {% endcomment %}
</body>
</html>